// COLORS
$color-seance: #651297; // Standard purple font
$color-black: #000000;
$color-mine-shaft: #333333; // Sidebar background
$color-dove-gray: #666666; // Standard paragraph font color
$color-dusty-gray: #999999; // Additional info on Plan Summary
$color-silver-chalice: #A9A9A9; // Navigation font inactive
$color-nobel: #B7B7B7;
$color-silver: #CCCCCC; // Topbar bottom border
$color-iron: #DDDEDF; // Navigator item division
$color-mercury: #E3E3E3; // Input field border
$color-gallery: #ECECEC;
$color-athens-gray: #F1F1F4; // Details selected plan modal
$color-concrete: #F3F3F3; // Navigation background active
$color-alabaster: #FAFAFA; // Topbar
$color-white: #FFFFFF;
$color-tangerine: #E98A00;
$color-alto: #D1D1D1; // disabled items
$color-atlantis: #9ACA41; // more info button
$teal: #005284 !default;
$teal-dark: #003B60;
$white: #fff !default;
