.chart {
  border: 1px solid #d6d6d6;
  margin: .5%;
  flex-grow: 1;
  width: 49%;
  min-width: 300px;
  max-height: 402px;
  &-container {
    max-height: calc(100vh - 42px);
    overflow: auto;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-content: flex-start;
    &::after {
      content: "";
      background-image: url("assets/img/logo_backgroun.png");
      background-repeat: no-repeat;
      background-blend-mode: multiply;
      background-color: #f9f9f9;
      background-size: 200px 200px;
      opacity: 0.1;
      top: calc(50vh - 80px);
      left: calc(50vw + -100px);
      bottom: calc(50vh - 123px);
      right: calc(50vw - 273px);
      position: absolute;
      z-index: -1;
    }

    img.bkg-img {
      opacity: 0.1;
      width: 200px;
      height: 200px;
      position: relative;
      margin-left: 50%;
      z-index: 0;
      left: -100px;
      top: -100px;
      margin-top: 50vh;
    }
  }
}

.fixed {
  .chart {
    &-container {
      max-width: calc(100vw - 333px);
      &::after {
        left: calc(50vw + 70px);
      }
    }
  }
}
