.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 1.4rem;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
